.card__starsRate {
    
    width: 250px;
    height: 50px;
}
.card__starsRate {
    display: flex;
}
.card__starsRate .star {
    font-size: 20px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    height: 20px;
}
.card__starsRate .activeStar {
    color: yellow;
}
.card__starsRate .star:hover {
    color: yellow;
}