.card {
    display: flex;
    width: 460px;
    height: 280px;
    box-shadow: 0px 4px 12px 0px 
    rgba(0, 0, 0, 0.15);
    padding: 40px;
    
}
.filmList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}
.filmList__wrapper {
    display: flex;
    flex-wrap: wrap;
}
@media (width < 1000px) {
    .filmList__wrapper {
        flex-direction: column;
    }
    .filmList{
        width: 500px;
    }
}
@media (width < 580px) {
    
    .filmList{
        width: 350px;
    }
}