
.card img {
    flex-basis: 40%;
    width: 185px;
    height: 280px;
    object-fit: cover;
    object-position: center;
    
}
.card__description {
    flex-basis: 60%;
    margin-left: 5%;
    cursor: default;
}
.card__description h5 {
    font-size: 20px;
    margin: 10px 10px 10px 0px;
    width: 200px;
}
.card__description span {
    display: inline-block;
    font-size: 12px;
    color: rgba(130, 126, 126, 1);

}
.card__description p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 22px;
    max-height: 200px;
    overflow: hidden;
    margin: 4px;
}
.card__description div span {
    display: inline-block;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 2px;
    margin: 5px;
    padding: 3px;
}
.card__description div span:first-child {
    margin-left: 0;
}